<%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
     <hr>
      <h4><%= pergunta.titulo %></h4>
      <p><%= pergunta.descricao%></p>
      <hr>
    </div>
  </body>
  <%- include('partials/footer') %>